.emailContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.emailContainer label{
  color: #000;

  /* Subtitle1 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}

.emailContainer div {
  display: flex;
  width: 317px;
  padding: 10px 12px;
  align-items: center;
  gap: 10px;
}

.emailContainer img{
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.emailContainer input{
  color: var(--text-color-primary-text, #000);

  /* Body2 */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.layout {
  width: 1024px;
  height: 768px;
}


.loginForm {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title h2{
  color: var(--text-color-primary-text, #000);

  /* H2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title label {
  color: var(--text-color-secondary-text, #637381);

  /* Caption */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.background {
  width: 1374px;
  height: 774px;
  flex-shrink: 0;
}